@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>create new webapp -o <App Name><br/>


cd <Application Directory><br/>

creating package .json -><br/>

npm init -y<br/>

Installing client library packages -><br/>

install signalr<br/>

Created a pipeline between Client and Server Configuring SignalR<br/>

Creates and starts a connection.<br/>
Adds to the submit button a handler that sends messages to the hub.<br/>
Adds to the connection object a handler that receives messages from the hub and adds them to the list.<br/>
.</p>
