@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Chathurika Senani Jayathilake<br />
    Sabaragamuwa University of Sri Lanka<br />
    
</address>

<address>
    <strong>Email:</strong> <a href="chathurikasenani@outlook.com">chathurikasenani@outlook.com</a><br />
    
</address>
